
.wrapper {
    background-image: url(https://images.pexels.com/photos/3888585/pexels-photo-3888585.jpeg?auto=compress&cs=tinysrgb&dpr=3&h=750&w=1260);
    /* position: relative; */
    background-size: cover;
    width: 100%;
    height: auto;

}



.about {
    color:#ffffff;
    font-size: 25px;
    font-family: 'Abril Fatface', cursive;

}
h1 {
    font-family: 'Abril Fatface', cursive;
    color: #ffffff;
    margin-left: 25px;

}

ul li a {
    color: #ffffff;
    } 

.row {
    color: #ffffff;
} 